<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>101 Durandal.js</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bindings</h2>
        <div class="list-group">
            <a href="#/binding/property" class="list-group-item">Property binding</a>
            <a href="#/binding/collection" class="list-group-item">Collection binding</a>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Transitions</h2>
        <div class="list-group">
            <a href="#/transitions/buildin" class="list-group-item">Build in</a>
            <a href="#/transitions/custom" class="list-group-item">Custom</a>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Hooks</h2>
        <div class="list-group">
            <a href="#/hooks/composition-pipeline" class="list-group-item">Composition pipeline</a>
            <a href="#/hooks/composition-lifecycle" class="list-group-item">Composition lifecycle</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Composition</h2>
        <div class="list-group">
            <a href="#/compose/string" class="list-group-item">String compose</a>
            <a href="#/compose/module" class="list-group-item">Module compose</a>
            <a href="#/compose/observable" class="list-group-item">Observable compose</a>
            <a href="#/compose/explicit" class="list-group-item">Explicit models &amp; views</a>
            <a href="#/compose/strategy" class="list-group-item">View location strategy</a>
            <a href="#/compose/cache" class="list-group-item">View cache</a>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Routing</h2>
        <div class="list-group">
            <a href="#/routing/child-routes" class="list-group-item">Child routes</a>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <div class="list-group">
            <a href="#/events/app-wide" class="list-group-item">Application wide</a>
        </div>
    </div>
</div>