<div class="row">
    <div class="col-sm-3">
        <form>
            <div class="form-group">
                <label for="code">Country Alpha2Code</label>
                <input class="form-control" type="text" id="code" name="code" data-bind="value: code, valueUpdate: 'afterkeydown'" maxlength="2"
                />
            </div>
            <button type="button" class="btn btn-primary" data-bind="click: showCountryFlag, enable: code">Use code</button>
        </form>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Binding code on observable</h3>
                    </div>
                    <div class="panel-body" data-bind="text: 'For ' + name + ', the country code is ' + code(), visible: code"></div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Binding on click</h3>
                    </div>
                    <div class="panel-body" data-bind="visible: shouldShowFlag()">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Flag</th>
                                    <th>Url</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img data-bind="attr: { src: flagUrl, alt: code}" class="flag" />
                                    </td>
                                    <td>
                                        <strong>Flag comes from: </strong><em data-bind="text: flagUrl"></em>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>